<div class="container">
<%= form_for @topic do |f| %>
  <div class="">
    <h1>Title:</h1>
    <%= f.text_field :title %>
  </div>
  <div class="">
    <p style= "margin-top:1%;">Content:</p>
    <%= f.text_area :content, style: "width:80%; height:30vh;" %>
  </div>
  <%= f.submit "Save", style: "margin-top:1%" %>
<% end %>
</div>
