<%= form_with scope: :topic, url: "/topics"  do |f| %>
  <div>
    <%= f.text_field :title, placeholder: "Title" %>
  </div>
  <div>
    <%= f.text_area :content, placeholder: "Content" %>
  </div>

  <%= f.submit %>
<% end %>
