<div class="container">
  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
  </ol>
  <div class="profileContainer">
    <div class="profileHeader">
      <img src="<%= asset_path("gameIcon.png") %>" class="profileIcon"></img>
      <h1 class="profileName"><%= @user.username%> <span>--- Profile</span></h1>
    </div>

    <div class="profileBody">
      <div class="profileInfo">
        <p>Nickname: </p>
        <p>Email: </p>
        <p>Gender: </p>
        <p>Created Topics: <%= link_to "#{@user.topics.length} topics", user_topics_path(@user.id) %> </p>
        <p>Description: </p>
      </div>
    </div>

  </div>


</div>
